$primary-color: #444;
$seconday-color: #0066ff;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.8;

@mixin easeOut {
  transition: all ease-out 0.2s;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }

      /*
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, $background-opacity),
          rgba(0, 0, 0, $background-opacity)
        ),
        $home-image;*/
    }
  }
}

// media Query Mixins

// small screen
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

// med screen
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

// large screen
@mixin mediaLg {
  @media screen and (min-width: 769px), (max-width: 1170px) {
    @content;
  }
}

// x-large screen
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
