@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 1rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
    border-radius: 2rem;
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $seconday-color;
}

// main styles
main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 10rem);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $seconday-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
// about page
// grid-template-areas about page
.about-info {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    "bioimage bio bio"
    "job-1 job-2 job-3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: 3px solid $seconday-color;
  }

  .bio {
    grid-area: bio;
  }

  .job-1 {
    grid-area: job-1;
  }

  .job-2 {
    grid-area: job-2;
  }

  .job-3 {
    grid-area: job-3;
  }

  // jobs style
  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $seconday-color solid 5px;
  }
}

// work page / projects
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.2rem;
  border: 0.3rem solid lighten($primary-color, 2);
  border-radius: 10px;
  padding: 1rem;

  img {
    width: 100%;
    border: 1px solid #fff;

    &:hover {
      opacity: 0.5;
      border-color: $seconday-color;
      @include easeOut();
    }
  }
}

// contact page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;

    div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;
        cursor: pointer;


        &:hover {
            padding: 0.5rem 1.5rem;
            background: $seconday-color;
            color: set-text-color($seconday-color);
            span {
                color: set-text-color($seconday-color);
            }
        }
    }
}

// button style
.btn {
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $seconday-color;
    color: set-text-color($seconday-color);
  }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 10);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 40);
    color: #333;
}


// footer all
#main-footer {
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 10rem;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $seconday-color;
        @include easeOut();
      }
    }
  }
}

@import "mobile";
